/* music container */
.music {
  width: 270px;
  height: 210px;
  background-color: #e3f2fdb5;
}

/* heading for music */
h2 {
  margin: 1px;
}

/* list element */
.music #song1 {
  padding: 0px 0px;
}
